In [1]:
#importing libraries
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from sklearn.linear_model import LogisticRegression
import joblib

In [2]:
#importing the dataset
dataset = pd.read_csv("dataset.csv")
dataset = dataset.drop('id',1)
dataset = dataset.drop('gender',1) #removing unwanted column
dataset = dataset.drop('age',1) #removing unwanted column
dataset = dataset.drop('ever_married',1)
dataset = dataset.drop('Residence_type',1)
dataset.head()

C:\Users\user\AppData\Local\Temp\ipykernel_11260\912180349.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  dataset = dataset.drop('id',1)
C:\Users\user\AppData\Local\Temp\ipykernel_11260\912180349.py:4: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  dataset = dataset.drop('gender',1) #removing unwanted column
C:\Users\user\AppData\Local\Temp\ipykernel_11260\912180349.py:5: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  dataset = dataset.drop('age',1) #removing unwanted column
C:\Users\user\AppData\Local\Temp\ipykernel_11260\912180349.py:6: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  dataset = dataset.drop('ever_married',1)
C:\Users\user\AppData\Local\Temp\ipykernel_11260\912180349.py:7: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  dataset = dataset.drop('Residence_type',1)

,hypertension,heart_disease,work_type,avg_glucose_level,bmi,smoking_status,stroke
0,0,1,Private,228.69,36.6,formerly smoked,1
1,0,0,Self-employed,202.21,NaN,never smoked,1
2,0,1,Private,105.92,32.5,never smoked,1
3,0,0,Private,171.23,34.4,smokes,1
4,1,0,Self-employed,174.12,24.0,never smoked,1

In [3]:
from sklearn.preprocessing import LabelEncoder
var_mod = ['work_type','smoking_status']
le = LabelEncoder()
for i in var_mod:
    dataset[i] = le.fit_transform(dataset[i]).astype(str)

In [4]:
dataset.head()

,hypertension,heart_disease,work_type,avg_glucose_level,bmi,smoking_status,stroke
0,0,1,2,228.69,36.6,1,1
1,0,0,3,202.21,NaN,2,1
2,0,1,2,105.92,32.5,2,1
3,0,0,2,171.23,34.4,3,1
4,1,0,3,174.12,24.0,2,1

In [5]:
dataset=dataset.dropna()
dataset.head()

,hypertension,heart_disease,work_type,avg_glucose_level,bmi,smoking_status,stroke
0,0,1,2,228.69,36.6,1,1
2,0,1,2,105.92,32.5,2,1
3,0,0,2,171.23,34.4,3,1
4,1,0,3,174.12,24.0,2,1
5,0,0,2,186.21,29.0,1,1

In [6]:
dataset.to_csv('finaldataset.csv')

In [7]:
x = dataset.iloc[ : , :-1].values
y = dataset.iloc[:, -1:].values

In [8]:
#spliting the dataset into training set and test set
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size = 0.25, random_state =0 )

In [9]:
#fitting logistic regression 
classifier = LogisticRegression(random_state = 0)
classifier.fit(x_train, y_train)

C:\Users\user\anaconda3\Lib\site-packages\sklearn\utils\validation.py:1143: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

LogisticRegression(random_state=0)

In [10]:
#predicting the tests set result
y_pred = classifier.predict(x_test)

In [11]:
#According to the cross-validated MCC scores, the random forest is the best-performing model, so now let's evaluate its performance on the test set.
from sklearn.metrics import confusion_matrix, classification_report, matthews_corrcoef, cohen_kappa_score, accuracy_score, average_precision_score, roc_auc_score

In [12]:
print("")
print('Classification report of Logistic Regression Results:')
print("")

print(classification_report(y_test,y_pred))

Classification report of Logistic Regression Results:

              precision    recall  f1-score   support

           0       0.96      1.00      0.98      1179
           1       1.00      0.02      0.04        49

    accuracy                           0.96      1228
   macro avg       0.98      0.51      0.51      1228
weighted avg       0.96      0.96      0.94      1228

In [13]:
x = (accuracy_score(y_test,y_pred)*100)
#confusion matrix
from sklearn.metrics import confusion_matrix
cm1 = confusion_matrix(y_test, y_pred)
print('Accuracy result of Logistic Regression is:', x)
print("")
print(cm1)

Accuracy result of Logistic Regression is: 96.09120521172639

[[1179    0]
 [  48    1]]

In [14]:
sensitivity1 = cm1[0,0]/(cm1[0,0]+cm1[0,1])
print('Sensitivity : ', sensitivity1 )

Sensitivity :  1.0

In [15]:
specificity1 =  cm1[1,1]/(cm1[1,0]+cm1[1,1])
print('Specificity : ', specificity1)

Specificity :  0.02040816326530612

In [16]:
TN = cm1[0][0]
FN = cm1[1][0]
TP = cm1[1][1]
FP = cm1[0][1]
print("True Positive :",TP)
print("True Negative :",TN)
print("False Positive :",FP)
print("False Negative :",FN)
print("")
TPR = TP/(TP+FN)
TNR = TN/(TN+FP)
FPR = FP/(FP+TN)
FNR = FN/(TP+FN)
print("True Positive Rate :",TPR)
print("True Negative Rate :",TNR)
print("False Positive Rate :",FPR)
print("False Negative Rate :",FNR)
print("")
PPV = TP/(TP+FP)
NPV = TN/(TN+FN)
print("Positive Predictive Value :",PPV)
print("Negative predictive value :",NPV)

True Positive : 1
True Negative : 1179
False Positive : 0
False Negative : 48

True Positive Rate : 0.02040816326530612
True Negative Rate : 1.0
False Positive Rate : 0.0
False Negative Rate : 0.9795918367346939

Positive Predictive Value : 1.0
Negative predictive value : 0.960880195599022

In [17]:
#pickle file joblib
joblib.dump(classifier, 'final_models/logisticR_final.pkl')

['final_models/logisticR_final.pkl']